﻿body {
    
}
/* GENERAL */
.form-control:focus {
    border-color: #333333;
}
/***********/

/* HEADER */
.img-logo-header {
    display: inline-block !important;
    height: 24px;
    width: 24px;
}

.img-logo {
    height: 48px;
    width: 48px;
}

/* SEARCH ICON FONT 600 */
.f-600 {
    font-weight: 600;
}
/**********/
