﻿@model Model.UsuarioModel

@{
    ViewBag.Title = "Index";
}

<div class="mr-auto ml-auto mb-5 mt-4 text-center">
    <div class="card d-inline-block" style="width: 18rem;">
        <img class="card-img-top" src="@Model.UrlFoto" alt="Card image cap">
        <div class="card-body">
            <h3>@Model.Login</h3>
            <a style="text-decoration: none" ; href="@Url.Action("ReposUsuario", "Repositorio", new { usuario = Model.Login })" class="title">Ver Repositórios</a><br />
            <p class="card-text">Perfil GitHub: <a href="@Model.UrlPerfil">@Model.UrlPerfil</a></p>
        </div>
    </div>
</div>

