﻿@model Model.RepositorioModel

@{
    ViewBag.Title = "Details";
}

<div class="text-center">
    <img class="mt-4 img-logo" src="~/Content/Imagens/logo-black.svg" />
    <h3 class="font-weight-bold">Detalhes do Repositório</h3>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proprietario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proprietario.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linguagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linguagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaModificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaModificacao)
        </dd>
    </dl>
    <hr />
    <h6>Contribuidores</h6>
    <div class="pl-0 col-lg-4 col-8 table-responsive-lg">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Contribuidores.FirstOrDefault().Login)
                    </th>
                </tr>
            </thead>
            
            @foreach (var item in Model.Contribuidores ?? new List<Model.UsuarioModel>())
            {
                <tr>
                    <td>
                        <a href="@Url.Action("ReposUsuario", "Repositorio", new { usuario = item.Login })">
                            @Html.DisplayFor(modelItem => item.Login)
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<p>
    <a class="btn btn-secondary" href="@Url.Action("ReposUsuario", "Repositorio", new { usuario = Model.Proprietario.Login })">Voltar para lista</a>
</p>
