﻿@model IEnumerable<Model.FavoritoModel>

@{
    ViewBag.Title = "Favoritos";
}

<div class="text-center">
    <img class="mt-4 img-logo" src="~/Content/Imagens/logo-black.svg" />
    <h3 class="font-weight-bold">Favoritos</h3>
</div>

<table class="table table-bordered table-responsive-lg">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietario)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Repositorio", new { nomeCompleto = item.NomeCompleto })">
                    @Html.DisplayFor(modelItem => item.Nome)
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Repositorio", new { nomeCompleto = item.NomeCompleto })">
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </a>
            </td>
            <td>
                <a href="@Url.Action("ReposUsuario", "Repositorio", new { usuario = item.Proprietario })">
                    @Html.DisplayFor(modelItem => item.Proprietario)
                </a>
            </td>
            <td>
                <a href="@Url.Action("Favoritar", "Repositorio", new { nomeCompleto = item.NomeCompleto })" class="btn btn-secondary btn-sm"><i class="fa fa-star text-center"></i></a>
            </td>
        </tr>
    }

</table>


@if (TempData["mensagemSucesso"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('success','Parabéns!','@TempData["mensagemSucesso"]')"></div>
}
else if (TempData["mensagemErro"] != null)
{
    <div id="mensagem-retorno" onclick="swtAlert('error','Ops...!','@TempData["mensagemErro"]')"></div>
}

@section Scripts {

    <script>
        $(document).ready(function () {
            if (document.querySelector('#mensagem-retorno'))
                document.getElementById("mensagem-retorno").click();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/js/sweet-alert.js"></script>
}
