﻿@model IEnumerable<Model.RepositorioModel>

@{
    ViewBag.Title = "MyRepos";
    var existe = false;

}

<div class="text-center">
    <img class="mt-4 img-logo" src="~/Content/Imagens/logo-black.svg" />
    @if (ViewBag.IsMe != null && ViewBag.IsMe == true)
    {
        <h3 class="font-weight-bold">Meus Repositórios</h3>
    }
    else if (ViewBag.SearchTotal != null)
    {
        <h3 class="font-weight-bold">Resultados da pesquisa de Repositórios</h3>
    }
    else
    {
        <h3 class="font-weight-bold">Repositórios do @Model.FirstOrDefault().Proprietario.Login</h3>
    }
</div>

@if (ViewBag.SearchTotal != null)
{
    <p class="mb-2 mt-2 font-weight-lighter">Mostrando @Model.Count() Repositórios de @ViewBag.SearchTotal.</p>
}
<table class="table table-bordered table-responsive-lg">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linguagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimaModificacao)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Repositorio", new { nomeCompleto = item.NomeCompleto })">
                    @Html.DisplayFor(modelItem => item.Nome)
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Repositorio", new { nomeCompleto = item.NomeCompleto })">
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </a>
            </td>
            <td>
                <a href="@Url.Action("ReposUsuario", "Repositorio", new { usuario = item.Proprietario.Login })">
                    @Html.DisplayFor(modelItem => item.Proprietario.Login)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linguagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimaModificacao)
            </td>
            <td>
                <a href="@Url.Action("Favoritar", "Repositorio", new { nomeCompleto = item.NomeCompleto })" class="btn btn-secondary btn-sm">
                    @foreach (var f in ViewBag.Favoritos)
                    {
                        if (f.NomeCompleto.Equals(item.NomeCompleto))
                        {
                            existe = true;
                            break;
                        }
                        else
                        {
                            existe = false;
                        }
                    }@if (existe == true)
                    {
                        <i class="fa fa-star text-center"></i>
                    }
                    else
                    {
                        <i class="fa fa-star-o text-center"></i>
                    }
                </a>&nbsp;
                <a href="@Url.Action("Details", "Repositorio", new { nomeCompleto = item.NomeCompleto })" class="btn btn-secondary btn-sm"><i class="fa fa-book text-center"></i></a>
            </td>
        </tr>
    }

</table>