﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <a class="navbar-brand" href="#">
                        <img class="img-logo-header" src="~/content/imagens/github.svg" />
                        Github API
                    </a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Favoritos", "Repositorio")">Favoritos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ReposUsuario", "Repositorio", new { usuario = "abralvs" })">Meus Repositórios</a>
                        </li>
                    </ul>

                        @using (Html.BeginForm("ReposUsuario", "Repositorio", FormMethod.Post, new { @class = "input-group col-md-4" }))
                        {
                            <input class="form-control py-2 border-right-0 border" type="search" placeholder="Pesquisar Repositórios" id="search-input" name="searchValue">
                            <span class="input-group-append">
                                <button class="btn btn-light border-left-0 border" type="submit">
                                    <i class="fa fa-search" ></i>
                                </button>
                            </span>
                        }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Teste GitHub API</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
